body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    display: grid;
    margin: auto;
    margin-top: 10vh;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 420px;
    height: 420px;
    border: 10px solid rgb(100, 50, 50);
    transform: rotate(0deg);
}

.piece.white {
    color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
    color: black;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 36px;
    cursor: pointer;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.flipped .piece {
    transform: rotate(180deg);
}
